@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --main-color: #65e4f5;
  --black: #368beb;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  font-family: "Nunito", sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-padding-top: 60px;
}


.col-md-6 .left-align {
  text-align: left;
}



/********************register/login*********************************/

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#sign-up {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: linear-gradient(#570871, #2c075a);
  border-radius: 5px;
  text-align: center;
  color: white;
  width: 70%;
  padding: 20px;
  margin: 0 auto;
}

#sign-up p {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.sign-up-ip {
  border-radius: 5px;
  padding: 6px;
  margin: 5px 5px;
  width: 60%;
  border: 1px solid var(--black);
  outline: none;
  font-size: 12px;
}

.cancelbtn {
  padding: 10px 20px;
  border-radius: 10px;
  background: rgb(238, 61, 61);
  cursor: pointer;
  color: white;
}

.signupbtn {
  padding: 10px 20px;
  border-radius: 10px;
  background: rgb(116, 248, 116);
  cursor: pointer;
  color: white;
}

